<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  {{>navbar}}
  <h1>Welcome {{title}} </h1>

  <form action="" >
    <input type="text" placeholder="Add Your Loaction here" name="" value='' id="inputText">
    <button id="btn">search</button>
  </form>

  <p class="msg-1"></p>
  <p class="msg-2"></p>

  {{>footer}}
  <script src="/javascript/app.js"></script>
</body>
</html>